block variables
doctype html
html(lang=pageLang)
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + pageOgpType + ": http://ogp.me/ns/" + pageOgpType + "#")
    link(rel="stylesheet" href=locals.site.url + "assets/css/style.css")
    include /_object/meta/_meta
    include /_object/meta/_favicon
    include /_object/meta/_gtm
  body
    include /_layout/_header
    main
      block content
    include /_layout/_footer
    script(src=locals.site.url + "assets/js/common.js")
