/* vertical-align - utility
--------------------------------------------------------- */

.u-va-t {
    vertical-align: top;
}

.u-va-m {
    vertical-align: middle;
}

.u-va-b {
    vertical-align: bottom;
}