.u-tab-unshow{
  display: block;

  @media screen and #{$tab} {
    display: none;
  }
}

.u-tab-show{
  display: none;

  @media screen and #{$tab} {
    display: block;
  }
}

.u-tab-uninline{
  display: inline-block;

  @media screen and #{$tab} {
    display: none;
  }
}

.u-tab-inline{
  display: none;

  @media screen and #{$tab} {
    display: inline-block;
  }
}