/* text-decoration - utility
--------------------------------------------------------- */

.u-fw-n {
  font-weight: normal;
}

.u-fw-b {
  font-weight: bold;
}

.u-td-u {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}